:root {
    --white: #ffffff;
    --black: rgba(0, 0, 0, 1);
    --black-85: rgba(0, 0, 0, 0.85);
    --black-65: rgba(0, 0, 0, 0.65);
    --black-40: rgba(0, 0, 0, 0.4);
    --text-black: #323232;
    --text-gray: #858585;
    --white-eight: #e8e8e8;
    --white-zero: #e0e0e0;
    --white-two: #f2f2f2;
    --background: #f1f1f1;
    --main: #e2d4c9;
    --main-hover: #bdb1a8;
    --main-back: #f6f1e7;
    --red: #e2221a;
    --yellow: #f9b64b;
    --yellow-hover: #ff9d00;
    --kakao:#ffe902;
    --kakao-hover:#f0dd00;
    --naver:#2ec84a;
    --naver-hover:#00bd1a;
    --facebook:#307bb8;
    --facebook-hover:#296ba2;
    --google:#da524e;
    --google-hover:#d53c36;
}


a {
    color: var(--black-85);
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;

}

a:hover{

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    color: var(--black);
}
label {
    margin-bottom: 0 !important;
}
.info_link{
    color: var(--yellow);
    font-weight: bold;
}
.info_link:hover{
    text-decoration: none;
    color: var(--yellow-hover);
}

body{
    letter-spacing: -1px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}
.cont-padding{
    padding-top: 80px;
}

.moimga_top{
    padding: 0 !important;
    background-color: #fff !important;
    border-bottom: 1px solid #e0e0e0;
}

.menu_padding{
    padding: 0.85rem 1rem;
}
.nav-logo{
    width: 60px;
}
.nav-item > .active,
.nav-item > .nav-link:hover{
    color: var(--black-85) !important;
    border-bottom: 2px solid var(--black-85) !important;
}
.nav-item > .nav-link{
    border-bottom: 2px solid transparent;
    color: var(--black-40);
}

.nav-store-item > .active,
.nav-store-item > a:hover{
    color: var(--main);
    border-bottom: 2px solid var(--main);
}
.nav-store-item > a{
    border-bottom: 2px solid transparent;
    color: var(--main);
}

.nav-btn-link{
    color: var(--text-gray);
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #f2f2f2;
    border-radius: 4rem;
    margin-top: 6px;
}
.nav-btn-active,
.nav-btn-link:hover{
    color: #fff;
    background: var(--yellow);
    text-decoration: none;
}
.open .dropdown-menu{
    display: block;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: var(--greenblue);
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: var(--greenblue);
}
.nav-search{
    margin-top: 6px;
}
.nav-search > div > input{
    padding: 0.45rem  0.5rem !important;
    border-top-left-radius: 4rem !important;
    border-bottom-left-radius: 4rem  !important;
    border-right-color: #fff;
}

.nav-search > div > input:focus,
.nav-search > div > input:active{
    border-top-left-radius: 4rem !important;
    border-bottom-left-radius: 4rem  !important;
    border-right-color: #fff;
    border-left: 1px solid var(--yellow);
    border-top: 1px solid var(--yellow);
    border-bottom: 1px solid var(--yellow);

}
.nav-search > div > .input-group-append > button{

    background-color: transparent;
    border-top-right-radius: 4rem !important;
    border-bottom-right-radius: 4rem !important;
    border-left: 1px solid #fff;
    margin-left: -1px;
    color: var(--text-gray);


    border-bottom: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-top: 1px solid #ced4da;
}

.alarm_count{
    position: fixed;
    padding: 2px;
    font-size: 10px;
    line-height: 0.9rem;
    margin-top: -7px;
    color: var(--white);
    background: var(--red);
    width: 16px;
    text-align: center;
    border-radius: 4px;
    height: 20px;
    display: inline-block;
    border: 1px solid #fff;
}
/*buttons*/
.btn-outline-search {
    color: var(--gray-d);
    font-size: 0.85rem;
    background-color: #fff;
    border-right: 1px solid var(--gray-d);
    border-top: 1px solid var(--gray-d);
    border-bottom: 1px solid var(--gray-d);
    border-left: none;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
}

.list_top{
    text-align: center;
}
.top_title{
    font-weight: bold;
    font-size: 2rem;
    color: var(--black-85);
}
.top_desc{
    margin: 20px 0;
    font-size: 1.15rem;
    color: var(--black-40);
}
.sub_title{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.35rem;
    color: var(--black-85);
}
.sub_title > a{

    color: var(--black-85);
    text-decoration: none;
}

.team_view_more:hover > a,
.sub_title > a:hover{

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    color: var(--yellow-hover);
}
.team_box{
    clear: both;
    margin-bottom: 10px;
}
.team_box > .row > div{
}
.team_box_border{

    padding: 10px;
    border-radius: 8px;
    border: solid 1px var(--white-eight);
}
.team_box_item{
    padding: 10px;
    border-radius: 8px;
    border: solid 1px var(--white-eight);
    margin: 10px 0;
}
.team_box_item > span{
    display: block;
}
.tbi_answer {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--white-two);
    text-indent: 20px;
}
.team_box_empty{
    padding: 10px 0;
    color: var(--black-85);
}
.team_box_sub{
    margin-bottom: 10px;
}
.team_box_sub > *{
    display: inline-block;
}
.team_view_more{
    padding: 2px 10px;
    float: right;
}
.team_view_more > a{
    color: var(--text-gray);

}
.team_view_more > a:hover{
    text-decoration: none;
}
.team_count{
    color: var(--text-gray);
}

.team_program_item{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: block;
    border: solid 1px var(--white-eight);
}
.team_program_item:hover{
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    border: solid 1px var(--main);
    text-decoration: none;
}
.team_program_item > *{
    display: inline-block;
}
.tpi_title{
    font-size: 1.15rem;
    color: var(--text-black);

}
.tpi_info{
    display: flex;
}
.tpi_cont{
    width: 70%;
    padding-right: 10px;
}
.tpi_img{
    width: 30%
 }
.tpi_img > img{
    max-width: 100%;
}
.tpi_desc{
    margin: 10px 0;
    font-size: 0.85rem;
    line-height: 1.46;
    color: var(--text-gray);

    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.tpi_venue{
    display: block;
}
.il_info, .il_title{
    font-size: 0.85rem;
    line-height: 1.46;
    color: var(--text-black);
}
.il_desc{
    height: 38px;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.46;
    margin: 6px 0;
    color: var(--text-gray);
}
/*latest info*/
.ili_box{
    display: inline-block;
    background-color:  var(--text-black);
    width: 4px;
    margin-right: 4px;
    height: 13px;
}
.pii_img,
.il_img{
    width: 25%;
}
.pii_img > img,
.ali_img > img,
.il_img > img{
    max-width: 100%;
}

.team_img>img{
    width: 100%;
}
.il_title{

}
.pii_cont,
.il_cont{
    padding-left: 10px;
    width: 75%;
}
.ili_price{
    display: inline-block;
    margin-left: 14px;
}
.team_top{
    margin: 10px 0;
}
.tt_item > span{
    display: inline-block;
}
.tt_item {
    margin: 5px 0;
}
.tt_title {
    width: 80px;
    font-weight: bold;
    color:  var(--text-black);
}
.subscribe_btn:hover{

}
.subscribe_active{

    color: var(--main);
}
.heart_active{

    color: var(--red);
}
.tt_cont{
    cursor: pointer;
}
.tt_cont:hover{
    color: var(--yellow-hover);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.team_heart_count{
    margin-left: 4px;
}

/*after*/
.team_box_list{
    padding-left: 10px;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
}
.after_list_item{
    display: flex;
}
.after_list_item:hover{
    text-decoration: none;
}
.after_list_item > *{
    display: inline-block;
}
.ali_desc{

    height: 38px;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.46;
    margin: 6px 0;
    color: var(--text-gray);
}
.ali_title{

    font-size: 1rem;
    color: var(--black);
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}
.ali_img{
    width: 25%;
}

.ali_info{
    padding-left: 10px;
    width: 75%;
}

/*contents*/


.cont_item{
    margin: 5px;
    display: block;
    color: var(--black-85);
    box-shadow: 2px 2px 4px 0 var(--white-eight);

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    border: 1px solid transparent;
}
.cont_item:hover{
    border: 1px solid var(--main);

    text-decoration: none;
    box-shadow: 2px 2px 4px 0 var(--white-zero);
}

.cont_img{
    padding: 0 12px;
}

.cont_img > a > img{
    max-width: 100%;
}

.cont_info {

    margin: 10px 0;
    padding: 0 12px;
}
.cont_info > *,
.cont_title > *{
    display: block;
}

.cont_title{
    display: block;
    padding: 20px 12px;
}

.cont_title > *{

    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.cont_title:hover{
    text-decoration: none;
}

.cont_maintitle{
    line-height: 1.32;
    font-size: 1.5rem;
    color: var(--text-black);

    height: 62px;
}
.cont_subtitle{
    margin: 10px 0;
    line-height: 1.47;

    height: 48px;
    font-size: 1.05rem;
    color: var(--text-gray);
}

.cont_subitem{
    padding: 0;
    list-style: none;
}
.cont_subitem > li > a {
    display: flex;
}
.csi_num{
    width: 10%;
}
.csi_info{
    width: 90%;

}
.csi_num{
    display: block;
    color: var(--text-gray);
    font-size: 1.15rem;
}
.csi_title{
    display: block;
    color: var(--text-black);
    font-size: 1.15rem;

}

.csi_title:hover {
    text-decoration: none;
    color: var(--yellow);
}

.cont_subitem > li:hover > a > span,
.cont_subitem > li:hover > a > span > span{

    text-decoration: none;
    color: var(--yellow);
}
.cont_subitem > li > a:hover{
    text-decoration: none;
}
.csi_author{
    color: var(--text-gray);
    font-size: 0.85rem;
}
.cont_more{
    color: var(--white);
    display: block;
    text-align: center;
    background: var(--yellow);
    padding: 12px;
    font-size: 0.85rem;
}
.cont_more:hover{

    text-decoration: none;
    color: var(--white);
    background: var(--yellow-hover);
}

.cont_more_icon{
    margin-right: 8px;
    display: inline-block;
}

.cv_top{
    margin: 40px 0;
    display: flex;
}
.cvt_img{
    width: 20%;
}
.cvt_img > img{
    max-width: 100%;
}

.cvt_info{
    margin-left: 20px;
    font-size: 1.05rem;
    width: 80%;
}
.cvt_info > span{
    display: block;
}
.cv_hit{
    margin-top: 20px;
}
.cv_line{
    width: 150px;
    margin: 50px auto;
    height: 1px;
    background-color: var(--white-eight);
}
.cv_contents{
    font-size: 1rem;
    margin: 20px 0;
}
.cv_manage > form{
    display: inline-block;
}
.cv_manage{
    MARGIN-BOTTOM: 10PX;
}
/*btn*/

.btn-action {
    color: #fff;
    background-color: #f9b64b;
    border-color: #f9b64b;
}

.btn-action:hover {
    color: #fff;
    background-color: #d49b3f;
    border-color: #c7923c;
}

.btn-action:focus, .btn-action.focus {
    box-shadow: 0 0 0 0.2rem rgba(249,182,75, 0.5);
}

.btn-action.disabled, .btn-action:disabled {
    color: #fff;
    background-color: #f9b64b;
    border-color: #f9b64b;
}

.btn-action:not(:disabled):not(.disabled):active, .btn-action:not(:disabled):not(.disabled).active,
.show > .btn-action.dropdown-toggle {
    color: #fff;
    background-color: #c7923c;
    border-color: #ba8838;
}

.btn-action:not(:disabled):not(.disabled):active:focus, .btn-action:not(:disabled):not(.disabled).active:focus,
.show > .btn-action.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(249,182,75, 0.5);
}


.btn-outline-action {
    color: #f9b64b;
    background-color: transparent;
    background-image: none;
    border-color: #f9b64b;
}

.btn-outline-action:hover {
    color: #fff;
    background-color: #f9b64b;
    border-color: #f9b64b;
}

.btn-outline-action:focus, .btn-outline-action.focus {
    box-shadow: 0 0 0 0.2rem rgba(249,182,75, 0.5);
}

.btn-outline-action.disabled, .btn-outline-action:disabled {
    color: #f9b64b;
    background-color: transparent;
}

.btn-outline-action:not(:disabled):not(.disabled):active, .btn-outline-action:not(:disabled):not(.disabled).active,
.show > .btn-outline-action.dropdown-toggle {
    color: #fff;
    background-color: #f9b64b;
    border-color: #f9b64b;
}

.btn-outline-action:not(:disabled):not(.disabled):active:focus, .btn-outline-action:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-action.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(249,182,75, 0.5); 
}



.btn-beige {
    color: #6c6c6c;
    background-color: #e2d4c9;
    border-color: #e2d4c9;
}

.btn-beige:hover {
    color: #6c6c6c;
    background-color: #bdb1a8;
    border-color: #b0a59d;
}

.btn-beige:focus, .btn-beige.focus {
    box-shadow: 0 0 0 0.2rem rgba(226,212,201, 0.5);
}

.btn-beige.disabled, .btn-beige:disabled {
    color: #6c6c6c;
    background-color: #e2d4c9;
    border-color: #e2d4c9;
}

.btn-beige:not(:disabled):not(.disabled):active, .btn-beige:not(:disabled):not(.disabled).active,
.show > .btn-beige.dropdown-toggle {
    color: #6c6c6c;
    background-color: #b0a59d;
    border-color: #a39991;
}

.btn-beige:not(:disabled):not(.disabled):active:focus, .btn-beige:not(:disabled):not(.disabled).active:focus,
.show > .btn-beige.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem  rgba(226,212,201, 0.5);
}


.btn-outline-beige {
    color: #e2d4c9;
    background-color: transparent;
    background-image: none;
    border-color: #e2d4c9;
}

.btn-outline-beige:hover {
    color: #6c6c6c;
    background-color: #e2d4c9;
    border-color: #e2d4c9;
}

.btn-outline-beige:focus, .btn-outline-beige.focus {
    box-shadow: 0 0 0 0.2rem rgba(226,212,201, 0.5);
}

.btn-outline-beige.disabled, .btn-outline-beige:disabled {
    color: #e2d4c9;
    background-color: transparent;
}

.btn-outline-beige:not(:disabled):not(.disabled):active, .btn-outline-beige:not(:disabled):not(.disabled).active,
.show > .btn-outline-beige.dropdown-toggle {
    color: #363636;
    background-color: #e2d4c9;
    border-color: #e2d4c9;
}

.btn-outline-beige:not(:disabled):not(.disabled):active:focus, .btn-outline-beige:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-beige.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(226,212,201, 0.5);
}

.btn-full{
    width: 100%;
}

.result_empty{
    color: var(--text-gray);
    padding: 10px 0;
    text-align: center;
    font-size: 1.5rem;
}
/*footer*/
.footer{
    border-top: 1px solid var(--white-eight);
    padding: 10px 0;
}
.footer_menu{

    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;

}
.footer_divide{
    background-color:  var(--black-40);
    font-weight: normal;
    font-size: 0.5rem;
    display: inline-block;
    margin: 0 20px;
    width: 1px;
    height: 14px;
}
.footer_menu > a:hover{
    text-decoration: none;
    color: var(--yellow-hover);
}
.footer_info{
    margin: 20px 0;
    font-size: 0.85rem;
    color:  var(--black-40);
}
.footer_sns{
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--black-85);
    padding: 3px 10px;
    width: 42px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    border-radius: 4rem;
    height: 42px;
}
.footer_sns:hover{
    background-color: var(--yellow-hover);
    color: var(--white);
    text-decoration: none;
}
.footer_sns_wrap{
    margin: 20px 0;
}

@media (max-width: 767px)
{

    .footer_sns_wrap{
        margin-bottom: 10px;
        margin-top: 0;
    }
}

/* Breakpoint XS */
@media (max-width: 575px)
{
    .hidden-xs-down, .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up,
    .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    }

}

/* Breakpoint SM */
@media (min-width: 576px) and (max-width: 767px)
{
    .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up,
    .hidden-unless-xs, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    }
}

/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px)
{
    .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    }
}

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px)
{
    .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-xl
    {
        display: none !important;
    }
}

/* Breakpoint XL */
@media (min-width: 1200px)
{
    .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, .hidden-xl-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg
    {
        display: none !important;
    }
}
