

.cont_item{
    margin: 5px;
    display: block;
    color: var(--black-85);
    box-shadow: 2px 2px 4px 0 var(--white-eight);

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    border: 1px solid transparent;
}
.cont_item:hover{
    border: 1px solid var(--main);

    text-decoration: none;
    box-shadow: 2px 2px 4px 0 var(--white-zero);
}

.cont_img{
    padding: 0 12px;
}

.cont_img > a > img{
    max-width: 100%;
}

.cont_info {

    margin: 10px 0;
    padding: 0 12px;
}
.cont_info > *,
.cont_title > *{
    display: block;
}

.cont_title{
    display: block;
    padding: 12px;
}


.cont_title:hover{
    text-decoration: none;
}

.cont_maintitle{
    font-size: 1.5rem;
    text-align: center;

    color: var(--text-black);
}
.cont_subtitle{
    text-align: center;
    font-size: 1.05rem;
    color: var(--text-gray);
}

.cont_subitem{
    padding: 0;
    list-style: none;
}
.cont_subitem > li > a {
    display: flex;
}
.csi_num{
    width: 10%;
}
.csi_info{
    width: 90%;

}
.csi_num{
    display: block;
    color: var(--text-gray);
    font-size: 1.15rem;
}
.csi_title{
    display: block;
    color: var(--text-black);
    font-size: 1.15rem;

}

.csi_title:hover {
    text-decoration: none;
    color: var(--yellow);
}

.cont_subitem > li:hover > a > span,
.cont_subitem > li:hover > a > span > span{

    text-decoration: none;
    color: var(--yellow);
}
.cont_subitem > li > a:hover{
    text-decoration: none;
}
.csi_author{
    color: var(--text-gray);
    font-size: 0.85rem;
}
.cont_more{
    color: var(--white);
    display: block;
    text-align: center;
    background: var(--yellow);
    padding: 10px;
    font-size: 0.85rem;
}
.cont_more:hover{

    text-decoration: none;
    color: var(--white);
    background: var(--yellow-hover);
}

.cont_more_icon{
    margin-right: 8px;
    display: inline-block;
}

.cv_top{
    margin: 40px 0;
    display: flex;
}
.cvt_img > img{
    max-width: 100%;
}

.cvt_info{
    margin-left: 20px;
    font-size: 1.05rem;
}
.cvt_info > span{
    display: block;
}
.cv_hit{
    margin-top: 20px;
}
.cv_line{
    width: 150px;
    margin: 50px auto;
    height: 1px;
    background-color: var(--white-eight);
}
.cv_contents{
    font-size: 1rem;
    margin: 20px 0;
}