.btn-unregister{
  font-size: 10px;
}

.change_realname,
.change_nickname,
.input_verify
{
    margin-top: 10px;
 display: none;
}

.mypage_menu{
    list-style: none;
    text-align: right;
    padding: 0;
}
.mp_unregister{
    margin: 20px 0;
}
.mypage_menu > li{
    display: inline-block;
    margin-left: 12px;
}
.mypage_wrap{
    padding: 10px;
    margin: 20px 0;
    border-radius: 8px;
    border: solid 1px var(--white-eight);
}
.mypage_row{
    margin: 10px 0;
}

.mp_desc{
    border: 1px solid rgba(35,63,149, 0.2);
    padding: 10px;
}
.mp_desc_important{
    padding: 10px;
    background-color: rgba(35,63,149, 0.8);
    color: #fff;

}
.open_input{
    margin-right: 10px;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

.mp_basic{
    margin-bottom: 20px;
}
.mp_bottom{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;

    border-top: 1px solid #f2f2f2;
}
.mp_item{
    padding: 10px 0;
    clear: both;
}
.mp-p-title{
    font-size: 1rem;
    color: var(--text-gray);
}
.mp-sm-desc{
    margin-top: 10px;

    font-size: 0.85rem;
    color: var(--text-gray);
}
.mp-p-val{
    color: var(--text-black);
}
.mp-setting-icon{
    cursor: pointer;
    color: rgba(100,100,100,0.5);
    float: right;
}

.mp-setting-icon:hover{

    color: rgba(100,100,100,0.8);
}

.mp-setting-link{
    text-decoration: underline;
    color: var(--yellow);
}
.mp-setting-link:hover{

    color: var(--yellow-hover);
}

.badge-kakao{
    color: var(--text-black);
    background-color: var(--kakao)
}
.badge-facebook{
    color: var(--white);
    background-color: var(--facebook)
}
.badge-naver{
    color: var(--white);
    background-color: var(--naver)
}
.badge-google {
    border: 1px solid #e0e0e0;
}


@media (max-width: 767px) {

    .nav-mypage {
        margin-top: 47px;
    }
}

/*tap*/

.with_tap{
    margin-top: -1px !important;
    border-top: 1px solid #fff;
}
