
.toggle-button {
    position: fixed;
    padding: 9px 10px;
    margin: 3px 0 0 10px;
    height: 20px;
    width: 50px;
    z-index: 3;
}

.toggle-active{
    margin-top: 8px !important;
}
.bar {
    background-color: var(--main);
    display: block;
    width: 100%;
    height: 2px;
    border: 0;
    border-radius: 4rem;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
}

.ham-dark > .bar{

    background-color: var(--main) !important;
}

.bar + .bar {
    margin-top: 8px;
}
.middle {
    top: 11px;
}
.bottom {
    top: 22px;
}
.toggle-button:hover {
    opacity: .7;
}
.toggle-active .bar {
    background-color: var(--main);
}
.toggle-active .top {
    -webkit-transform: translateY(6px) translateX(0) rotate(45deg);
}
.toggle-active .middle {
    display: none;
}
.toggle-active .bottom {
    width: 100%;
    -webkit-transform: translateY(-4px) translateX(0) rotate(-45deg);
}

.overlay {
    position: fixed;
    background-color: var(--white-two);
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    /*-webkit-transition: opacity .35s, visibility .35s, height .35s;*/
}
.nav-active {
    opacity: 1;
    visibility: visible;
    height: 100%;
/*    max-height: 340px;*/
}

#hamburger{
    display: none;
    cursor: pointer;
}

#full_menu{

    list-style: none;
    padding: 0;
    margin: 0;
}

.full_menu_wrap{
    margin: 40% auto;
}
.full-item:first-child{
	margin-top: 50px;

	border-top: 3px solid var(--main);
}
.full-item{
    padding: 10px 0;
    text-align: center;
}
.full-item:hover{
	background-color: var(--main);
}
.full-link{
    color: #000;
    font-size: 1.15rem;
}
.full-link:hover{
    text-decoration: none;
    color: rgba(0,0,0,.6);
}
.full-line{
    width: 80px;
    height: 2px;
    background: var(--main);
    margin: 12px auto;
}
.logo-index{
    z-index: 44444;
    filter: invert();
}

.full_menu_footer{
    color: #fff;
    font-weight: bold;
    font-size: 0.5rem;
    text-align: center;

}
.top_sm_logo{
    z-index: 3;
    position: fixed;
    display: block;
    margin: 12px 0 14px 70px;
}
.top_sm_right{
    margin-bottom: 6px;
    text-align: right;
}
.mobile_top_menu > li{
    display: inline-block;
}
.mobile_top_menu{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.mtb_menu{
    color: var(--text-gray);
    font-size: 1.15rem;
    display: inline-block;
    margin: 10px 0 0 22px;
}
.mobile-nav-search > div{
    max-width: 220px;
    margin: auto;
}
@media (max-width: 767px)
{

    #hamburger{
        display: block;
    }
}